h1 {
    text-align: center;
}

form.home-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label.home-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"].home-text,
input[type="number"].home-number,
select.home-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

input[type="checkbox"].home-checkbox {
    margin: auto 5px;
}

button.home-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button.home-button:hover {
    background-color: #45a049;
}

option.home-option {
    padding: 10px;
}

.qa-input {
    width: 15px;
}

.batch {
    height: 100px;
    overflow-y: scroll;
    width: 200px;
    border: solid black 2px;
    padding: 3px;
    border-radius: 3px;
}

.group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
